# cargo-deny configuration
# See https://embarkstudios.github.io/cargo-deny/

[advisories]
<<<<<<< HEAD
vulnerability = "deny"
unmaintained = "warn"
yanked = "warn"
notice = "warn"

[licenses]
unlicensed = "deny"
=======
unmaintained = "all"
yanked = "warn"

[licenses]
>>>>>>> upstream/master
allow = [
    "MIT",
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "ISC",
    "Unicode-3.0",
    "Unicode-DFS-2016",
]
<<<<<<< HEAD
copyleft = "deny"
=======
>>>>>>> upstream/master
confidence-threshold = 0.8

[bans]
multiple-versions = "warn"
wildcards = "allow"

[sources]
unknown-registry = "deny"
unknown-git = "warn"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []
